.header-info {
    font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
/* identical to box height */

/* text-align: center; */

color: #446EAE;
}
.header-user-name {
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 54px;
/* identical to box height */

/* text-align: center; */

color: #446EAE;
}

.order-header {
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */

text-align: justify;

color: #000000;
}
.order-item-text {
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height */

text-align: center;

color: #000000;
}

.order-card {
    background: rgba(229, 229, 229, 0.75);
border-radius: 8px;
}
.header-label {
    /* font-family: Roboto; */
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */
    
    text-align: center;
    
    color: #000000;
}
.delivery-header-label {
    font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
/* identical to box height */

/* text-align: center; */

color: #000000;
}
.order-details-block {
    background: rgba(229, 229, 229, 0.6);
border-radius: 16px;
}
.delivery-label-header {
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 27px;
/* identical to box height */

text-align: left;


color: #000000;
}
.delivery-info {
    font-family: Poppins;
font-style: normal;
font-weight: normal;
/* font-size: 14px; */
line-height: 21px;
/* identical to box height */

/* text-align: center; */

color: #000000;
}

.delivery-image-box {
    /* position: absolute; */
width: 27%;
height: 85px;
    background: rgba(229, 229, 229, 0.6);
border-radius: 16px;
margin: 10px;
padding: 30px 30px;
}
.delivery-image-box2{
    margin: 10px;
}
.image-preview-box {
    display: contents;
}
.delivery-box-bg {
    background: url('../../util/images/delivery.jpeg');
}

.delivery-action-btn {
    font-family: 'Poppins';
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #FFFFFF;
/* background: #C4C4C4; */
}

.star-rating-label {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 27px;
/* identical to box height */


color: #000000;
}

.img-wrap {
    position: relative;
    display: inline-block;
    border: 1px red solid;
    font-size: 0;
    padding-top: 7px !important;
    padding-right: 7px !important;
}
.img-wrap .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    background-color: #FFF;
    padding: 5px 2px 2px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: .2;
    text-align: center;
    font-size: 22px;
    line-height: 10px;
    border-radius: 50%;
}
.img-wrap:hover .close {
    opacity: 1;
}

