.login.login-4 .login-signin,
.login.login-4 .login-signup,
.login.login-4 .login-forgot {
  display: none; }

.login.login-4.login-signin-on .login-signup {
  display: none; }

.login.login-4.login-signin-on .login-signin {
  display: block; }

.login.login-4.login-signin-on .login-forgot {
  display: none; }

.login.login-4.login-signup-on .login-signup {
  display: block; }

.login.login-4.login-signup-on .login-signin {
  display: none; }

.login.login-4.login-signup-on .login-forgot {
  display: none; }

.login.login-4.login-forgot-on .login-signup {
  display: none; }

.login.login-4.login-forgot-on .login-signin {
  display: none; }

.login.login-4.login-forgot-on .login-forgot {
  display: block; }

.login.login-4 .login-form {
  width: 100%;
  max-width: 450px; }

  .login-block {
    /* Login page */

position: absolute;
width: 411px;
height: 823px;
left: 409px;
top: 104px;

background: #FFFFFF;


/* Ellipse 1 */

position: absolute;
/* width: 120px; */
/* height: 120px; */
/* left: 145px; */
/* top: 102px; */

/* background: url(0.png); */


/* Rectangle 2 */

position: absolute;
width: 363px;
height: 56px;
left: 24px;
top: 358px;

background: rgba(229, 229, 229, 0.75);
border-radius: 8px;


/* Rectangle 3 */

position: absolute;
width: 363px;
height: 56px;
left: 24px;
top: 438px;

background: rgba(229, 229, 229, 0.75);
border-radius: 8px;


/* Rectangle 4 */

position: absolute;
width: 209px;
height: 56px;
left: 101px;
top: 518px;

background: #446EAE;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 16px;


/* Driver-ID */

position: absolute;
width: 71px;
height: 24px;
left: 48px;
top: 374px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height */

color: rgba(157, 152, 152, 0.76);



/* Password */

position: absolute;
width: 77px;
height: 24px;
left: 48px;
top: 454px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height */

color: rgba(157, 152, 152, 0.76);



/* Forgot password? */

position: absolute;
width: 125px;
height: 21px;
left: 143px;
top: 582px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
/* identical to box height */

color: #0033EA;



/* LOGIN */

position: absolute;
width: 73px;
height: 36px;
left: 169px;
top: 528px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */

color: #FFFFFF;



/* Status Bar */

position: absolute;
width: 411px;
height: 24px;
left: 0px;
top: 0px;



/* Rectangle 4 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;


/* eva:battery-fill */

position: absolute;
left: 74.21%;
right: 20.19%;
top: 8.33%;
bottom: -4.17%;



/* Vector */

position: absolute;
left: 8.32%;
right: 8.33%;
top: 25%;
bottom: 25%;

background: #000000;


/* feather:bar-chart */

position: absolute;
left: 4.38%;
right: 91.73%;
top: 20.83%;
bottom: 12.5%;



/* Group */

position: absolute;
left: 25%;
right: 25%;
top: 16.67%;
bottom: 16.67%;



/* Vector */

position: absolute;
left: 50%;
right: 50%;
top: 41.67%;
bottom: 16.67%;

border: 2px solid #000000;


/* Vector */

position: absolute;
left: 75%;
right: 25%;
top: 16.67%;
bottom: 16.67%;

border: 2px solid #000000;


/* Vector */

position: absolute;
left: 25%;
right: 75%;
top: 66.67%;
bottom: 16.67%;

border: 2px solid #000000;


/* feather:bar-chart */

position: absolute;
left: 10.22%;
right: 85.89%;
top: 20.83%;
bottom: 12.5%;



/* Group */

position: absolute;
left: 25%;
right: 25%;
top: 16.67%;
bottom: 16.67%;



/* Vector */

position: absolute;
left: 50%;
right: 50%;
top: 41.67%;
bottom: 16.67%;

border: 2px solid #000000;


/* Vector */

position: absolute;
left: 75%;
right: 25%;
top: 16.67%;
bottom: 16.67%;

border: 2px solid #000000;


/* Vector */

position: absolute;
left: 25%;
right: 75%;
top: 66.67%;
bottom: 16.67%;

border: 2px solid #000000;


/* wifi */

position: absolute;
left: 16.06%;
right: 79.56%;
top: 12.5%;
bottom: 12.5%;



/* Vector */

position: absolute;
left: 20.83%;
right: 20.5%;
top: 41.68%;
bottom: 47.71%;

border: 2px solid #000000;


/* Vector */

position: absolute;
left: 5.92%;
right: 5.92%;
top: 20.84%;
bottom: 62.5%;

border: 2px solid #000000;


/* Vector */

position: absolute;
left: 35.54%;
right: 35.5%;
top: 62.51%;
bottom: 32.87%;

border: 2px solid #000000;


/* Vector */

position: absolute;
left: 50%;
right: 49.94%;
top: 83.33%;
bottom: 16.67%;

border: 2px solid #000000;


/* 17.3B/s */

position: absolute;
left: 22.38%;
right: 65.45%;
top: 20.83%;
bottom: 12.5%;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
text-align: center;

color: #000000;



/* ic:round-access-alarm */

position: absolute;
left: 67.88%;
right: 27.74%;
top: 12.5%;
bottom: 12.5%;



/* Vector */

position: absolute;
left: 10.27%;
right: 10.27%;
top: 9.24%;
bottom: 8.33%;

background: #000000;


/* 11:30PM */

position: absolute;
left: 81.75%;
right: 4.38%;
top: 25%;
bottom: 8.33%;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
text-align: center;

color: #000000;



/* Cognetry Driver App */

position: absolute;
width: 248px;
height: 36px;
left: 81px;
top: 230px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */
text-align: center;

color: #8CC63F;


  }

  .login-logo {
    /* Ellipse 1 */

position: absolute;
width: 120px;
height: 120px;
/* left: 145px; */
/* top: 102px; */

/* background: url(0.png); */

  }

  .login-info {
    /* Cognetry Driver App */

position: absolute;
width: 248px;
height: 36px;
/* left: 81px; */
top: 230px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */
text-align: center;

color: #8CC63F;


  }

  .login-fieldss {
    /* Rectangle 2 */

position: absolute;
/* width: 363px; */
/* height: 56px; */
left: 24px;
/* top: 358px; */

/* background: rgba(229, 229, 229, 0.75); */
border-radius: 8px;

  }

  .login-text-box {
    position: absolute;
width: 363px;
height: 56px;
/* left: 24px; */
/* top: 358px; */

background: rgba(229, 229, 229, 0.75);
border-radius: 8px;
  }

  .login-info-label {
    font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */

text-align: center;

color: #8CC63F;
  }
  .login-form {
    max-width: 100% !important;
  }
  .login-signin-on {
    background: white !important;
  }
  .login-btn {
    background: #446EAE;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 16px;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */


color: #FFFFFF;
  }

@media (max-width: 575.98px) {
  .login.login-4 .login-form {
    width: 100%;
    max-width: 100%; } }
